<div class="card-panel profile-card">
  <% unless current_user?(@user) %>
    <div class="current-user-option-wrapper">
      <div id="follow-form">
        <% if current_user.following?(@user) %>
          <%= render 'users/unfollow' %>
        <% else %>
          <%= render 'users/follow' %>
        <% end %>
      </div>

      <% if @isRoom == true %>
        <%= link_to room_path(@room_id), "data-turbolinks": false do %>
          <div class="btn-floating btn-small red profile-dm">
            <i class="large material-icons">mail_outline</i>
          </div>
        <% end %>
      <% else %>
        <%= form_with model: @room, local: true do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= button_tag type: 'submit', class: 'btn-floating btn-small red profile-dm' do %>
            <i class="large material-icons">mail_outline</i>
          <% end %>
        <% end %>
      <% end %>

      <div class="dropdown-wrapper">
        <a class='dropdown-trigger' data-target='dropdown1'>
          <i class="fas fa-fw fa-ellipsis-v"></i>
        </a>
      </div>

      <ul id='dropdown1' class='dropdown-content'>
        <li>
          <a class="modal-trigger" data-target="modal1">通報する</a>
        </li>
        <% if current_user.admin? %>
          <li>
            <%= link_to 'ユーザーを削除', user_path(@user), method: :delete, data: { position: 'top', tooltip: '削除', confirm: "#{@user.profile.username}を削除します。よろしいですか？" } %>
          </li>
        <% end %>
      </ul>

      <div id="modal1" class="modal">
        <div class="modal-content">
          <div class="modal-title">通報内容を記入してください</div>
          <div class="divider"></div>
          <%= form_with model: @report, local: true do |f| %>
            <%= render 'shared/error_messages', instance: @report %>
            <%= f.text_area :description, class: 'materialize-textarea', id: 'textarea2', data: { length: '200' } %>
            <%= f.hidden_field :reported_user_id, value: @user.id %>
            <div class="center-align">
              <%= f.submit '通報する', class: 'waves-effect waves-light btn' %>
            </div>
          <% end %>
        </div>
      </div>
      
    </div>
  <% end %>

  <div class="profile-main-wrapper">
    <div class="profile-main-left">
      <%= image_tag @user.profile.avatar.url, class: 'circle-img' %>
    </div>

    <div class="profile-main-right">
      <div class="profile-user-name">
        <%= @user.profile.username %>
      </div>

      <div class="profile-prefecture">
        <%= @user.profile.prefecture.name %><span class="profile-age"><%= user_age(@user.profile.birth_date) %>歳</span>
      </div>
    </div>
  </div>

  <div class="stats">
    <%= link_to following_user_path(@user) do %>
      <div id="follow">
        フォロー<span><%= @user.following.count %></span>人
      </div>
    <% end %>
    <div class="profile-vertical-line"></div>
    <%= link_to followers_user_path(@user) do %>
      <div id="follower">
        フォロワー<span><%= @user.followers.count %></span>人
      </div>
    <% end %>
  </div>

  <div class="profile-label">目標</div>
  <div class="profile-user-purpose">
    <%= @user.profile.purpose %>
  </div>

  <div class="profile-label">自己紹介</div>
  <div class="profile-user-introduction">
    <%= simple_format(h(@user.profile.self_introduction), {}, sanitize: false, wrapper_tag: "div") %>
  </div>

  <p class="genre-label">勉強ジャンル</p>
  <% @user.profile.tags.map do |tag| %>
    <div class="chip">
      <%= tag.name %>
    </div>
  <% end %>

  <% if @user == current_user %>
    <div class="profile-edit-link">
      <%= link_to "プロフィールを編集する", edit_profile_path(@user.profile), class: "profile-edit_link" %>
    </div>
  <% end %>

</div>