<div class="card-panel profile-card">

  <% unless current_user?(@user) %>
    <div class="follow-btn">
      <% if current_user.following?(@user) %>
        <%= render 'users/unfollow' %>
      <% else %>
        <%= render 'users/follow' %>
      <% end %>
    </div>
  <% end %>

  <div class="profile-avatar-wrapper">
    <% if @user_profile.avatar? %>
      <%= image_tag @user_profile.avatar.url, class: 'circle-img' %>
    <% else %>
      <%= image_tag 'icon_default.png', class: 'circle-img' %>
    <% end %>
  </div>

  <div class="profile-user-name">
    <%= @user_profile.username %>
  </div>

  <div class="profile-prefecture">
    <%= @user.profile.prefecture.name %><span class="profile-age"><%= user_age(@user_profile.birth_date) %>歳</span>
  </div>

  <div class="stats">
    <div class="follow">
      フォロー<%= @user.following.count %>
    </div>
    <div class="follower">
      フォロワー<%= @user.followers.count %>
    </div>
  </div>

  <div class="profile-user-purpose">
    <%= @user_profile.purpose %>
  </div>

  <div class="profile-user-introduction">
    <%= simple_format(h(@user_profile.self_introduction), {}, sanitize: false, wrapper_tag: "div") %>
  </div>

  <p class="genre-label">勉強ジャンル</p>
  <% @user_profile.tags.map do |tag| %>
    <div class="chip">
      <%= tag.name %>
      <i class="close material-icons">close</i>
    </div>
  <% end %>

  <% if @user == current_user %>
    <div class="profile-edit-link">
      <%= link_to "プロフィールを編集する", edit_profile_path(@user_profile), class: "profile-edit_link" %>
    </div>
  <% end %>

</div>


