<div class="section">
  <%= link_to(profile_path(notification.visitor.profile)) do %>
    <%= image_tag notification.visitor.profile.avatar.url, class: 'circle-small-img' %>
    <strong><%= notification.visitor.profile.username %></strong>
    <span class="notification-message">さんが</span>
  <% end %>

  <% case notification.action %>
  <% when 'follow' then %>
    <span class="notification-message">あなたをフォローしました</span>
  <% when 'DM' then %>
    <span class="notification-message">あなたとのメッセージルームを作りました</span>
  <% when 'bookmark' then %>
    <span class="notification-message">あなたの勉強会<%= link_to "「#{notification.study_event.name}」", study_event_path(notification.study_event_id), "data-turbolinks": false %>をブックマークしました</span>
  <% when 'invite' then %>
    <span class="notification-message">あなたを勉強会<%= link_to "「#{notification.study_event.name}」", study_event_path(notification.study_event_id), "data-turbolinks": false %>に招待しました</span>
  <% when 'attend_request' %>
    <span class="notification-message">あなたの勉強会<%= link_to "「#{notification.study_event.name}」", study_event_path(notification.study_event_id), "data-turbolinks": false %>に参加の申し込みをしました
    <div class="request-judge-wrapper">
      <%= form_with model: EventUser.new, local: true, data: { confirm: 'ボタンを押した後、この通知は削除されます。その選択でよろしいですか？'} do |f| %>
        <%= f.hidden_field :user_id, value: notification.visitor.id %>
        <%= f.hidden_field :study_event_id, value: notification.study_event_id %>
        <%= f.hidden_field :request_notification_id, value: notification.id %>
        <%= f.submit '承認する', class: 'waves-effect waves-light btn' %>
        <%= f.submit '拒否する', name: :reject, class: 'waves-effect waves-light btn red' %>
      <% end %>
    </div>
    </span>
  <% when 'reject_request' then %>
    <span class="notification-message">あなたの勉強会<%= link_to "「#{notification.study_event.name}」", study_event_path(notification.study_event_id), "data-turbolinks": false %>への参加を拒否しました</span>
  <% when 'approve_request' then %>
    <span class="notification-message">あなたの勉強会<%= link_to "「#{notification.study_event.name}」", study_event_path(notification.study_event_id), "data-turbolinks": false %>への参加を承認しました</span>
  <% end %>
  <div class="right-align"><%= time_ago_in_words(notification.created_at) %>前</div>
</div>
<div class="divider"></div>
