<%= render 'shared/title', title: '確認画面' %>

<div class="step-wrapper">  
  <div class="stepbar-row">
    <ol class="stepbar">
      <li class="done"><span>1</span></li>
      <li class="done"><span>2</span></li>
      <li class="done"><span>3</span></li>
      <li class="done"><span>4</span></li>
    </ol>
  </div>
</div>

<div class="card-panel profile-card">
  <!-- 直接[/confirm]を打ち込まれた際の場合わけ -->
  <% if @study_event && session[:location] %>

    <%= form_with url: confirm_url, local: true do |f| %>
      <table>
        <tbody>
          <tr>
            <th>勉強会名</th>
            <td><%= @study_event.name %></td>
          </tr>
          <tr>
            <th>イメージ画像</th>
            <td><%= image_tag session[:image_url] || 'study_default.png', class: 'study-event-img' %></td>
          </tr>
          <tr>
            <th>公開範囲</th>
            <% if @study_event.display_range == true %>
              <td>フォロワーのみに公開</td>
            <% else %>
              <td>全体に公開</td>
            <% end %>
          </tr>
          <tr>
            <th>場所</th>
            <td><%= session[:location]['name'] %></td>
          </tr>
          <tr>
            <th>都道府県</th>
            <td><%= @prefecture %></td>
          </tr>
          <tr>
            <th>開催日</th>
            <td><%= @study_event.date %></td>
          </tr>
          <tr>
            <th>時間</th>
            <td><%= @study_event.begin_time.strftime("%H:%M") %> ~ <%= @study_event.finish_time.strftime("%H:%M") %></td>
          </tr>
          <tr>
            <th>招待したユーザー</th>
            <td>
              <% session[:event_users].each do |user_id| %>
                <%= image_tag User.find(user_id).profile.avatar.url, class: 'circle-small-img' %>
                <%= User.find(user_id).profile.username %>
                <br>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>関連タグ</th>
            <td>
              <% @tag_list.each do |tag| %>
                <div class="chip"><%= tag %></div>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>詳細</th>
            <td><%= safe_join(@study_event.description.split("\n"), tag(:br)) %></td>
          </tr>
        </tbody>
      </table>
      <div id="map"></div>

      <%= fields_for @study_event do |e| %>
        <%= e.hidden_field :name %>
        <%= e.hidden_field :description %>
        <%= e.hidden_field :date %>
        <%= e.hidden_field :display_range %>
        <%= e.hidden_field :begin_time %>
        <%= e.hidden_field :finish_time %>
        <%= e.hidden_field :tag %>
        <%= e.hidden_field :image %>
      <% end %>
    
      <div class="center-align">
        <%= button_tag type: 'submit', name: :back, class: 'btn waves-effect waves-light back-btn-color' do %>
          戻る
          <i class="material-icons left">chevron_left</i>
        <% end %>

        <%= button_tag type: 'submit', class: 'btn waves-effect waves-light' do %>
          勉強会をつくる
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="step-alert-message"><span class="essential">※</span>ステップ順に登録してください</div>
  <% end %>
</div>
