<%= render 'shared/title', title: '勉強会作成' %>

<div class="step-wrapper">  
  <div class="stepbar-row">
    <ol class="stepbar">
      <li class="done"><span>1</span></li>
      <li class="done"><span>2</span></li>
      <li class="done"><span>3</span></li>
      <li><span>4</span></li>
    </ol>
  </div>
</div>

<div class="card-panel profile-card">
  <div class="center-align">
    招待するユーザーを選択してください<br>(相互フォロワーのみ可)<span class="essential">*</span>
  </div>
  <div class="row">
  
    <%= form_with url: step3_url, local: true do |f| %>
      <div class="input-field col s12">
        <div>
          <%= f.collection_check_boxes :user_ids, current_user.matchers, :id, :email do |user| %>
            <div class="checkbox-wrapper">
              <%= user.label do %>
                <%= user.check_box %>
                <span>
                  <%= image_tag user.object.profile.avatar.url, class: 'circle-small-img' %>
                <span class="checkbox-username">
                  <%= user.object.profile.username %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <%= fields_for @study_event do |e| %>
        <%= e.hidden_field :name %>
        <%= e.hidden_field :description %>
        <%= e.hidden_field :date %>
        <%= e.hidden_field :display_range %>
        <%= e.hidden_field :begin_time %>
        <%= e.hidden_field :finish_time %>
        <%= e.hidden_field :tag %>
        <%= e.hidden_field :image %>
      <% end %>

      <div class="center-align">
        <%= button_tag type: 'submit', name: :back, class: 'btn waves-effect waves-light back-btn-color' do %>
          戻る
          <i class="material-icons left">chevron_left</i>
        <% end %>
  
        <%= button_tag type: 'submit', class: 'btn waves-effect waves-light' do %>
          次へ
          <i class="material-icons right">chevron_right</i>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

