<%= render 'shared/title', title: '勉強会作成' %>

<div class="step-wrapper">  
  <div class="stepbar-row">
    <ol class="stepbar">
      <li class="done"><span>1</span></li>
      <li><span>2</span></li>
      <li><span>3</span></li>
      <li><span>4</span></li>
    </ol>
  </div>
</div>

<div class="card-panel profile-card">
  <div class="row">
    <%= form_with model: @study_event, id: 'form-include-tag', url: step1_url, local: true do |f| %>
      <%= render 'shared/error_messages' %> 
      <div class="switch col s12 display-switch">
        <label>
          public
          <%= f.check_box :display_range %>
          <span class="lever"></span>
          private(フォロワーのみ)
        </label>
      </div>

      <div class="input-field col s12">
        <%= f.text_field :name %>
        <%= f.label :name do %>
          <span class="essential">*</span>
          勉強会名
        <% end %>
      </div>

      <div class="study-image-title">イメージ画像</div>
      <%= image_tag session[:image_url] || 'study_default.png', id: 'file-preview', class: 'study-event-img' %>
      <div class="avatar-file">
        <%= f.label :image, class: 'avatar-upload' do |file| %>
          画像を変更する
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", style: "display: none" %>
        <% end %>
      </div> 

      <div class="input-field col s12">
        <%= f.date_field :date %>
        <%= f.label :date do %>
          <span class="essential">*</span>
          日にち
        <% end %>
      </div>

      <div class="input-field col s6">
        <%= f.time_field :begin_time %>
        <%= f.label :begin_time do %>
          <span class="essential">*</span>
          開始時刻
        <% end %>
      </div>

      <div class="input-field col s6">
        <%= f.time_field :finish_time %>
        <%= f.label :finish_time do %>
          <span class="essential">*</span>
          終了時刻
        <% end %>
      </div>

      <div class="event-label"><span class="essential" style="margin-right: 3px">*</span>関連する勉強タグ</div>
      <div class="input-field col s12">
        <div class="chips" id="tags-wrapper" style="margin-top: 0px;">
          <%= f.text_field :tag, style: "border-bottom: none;", id: 'tag-field' %>
        </div>
      </div>
  
      <div class="input-field col s12">
        <%= f.text_area :description, class: 'materialize-textarea' %>
        <%= f.label :description do %>
          <span class="essential">*</span>
          詳細
        <% end %>
      </div>

      <div class="center-align">
        <%= button_tag type: 'submit', name: :next, class: 'btn waves-effect waves-light' do %>
          次へ
          <i class="material-icons right">chevron_right</i>
        <% end %>
      </div>

    <% end %>
  </div>
</div>