<%= render 'shared/title', title: '勉強会詳細' %>

<div class="study-event-show-wrapper">
  <ul class="card-content-top event-content-card">
    <li class="study-event-prefecture event-show-prefecture"><%= @study_event.location.prefecture.name %></li>
    <li class="study-event-tags">
      <% @study_event.tags.each do |tag| %>
        <div class="chip"><%= tag.name %></div>
      <% end %>
    </li>
    <li id="bookmark-form">
      <% if current_user.bookmark?(@study_event) %>
        <%= render partial: 'study_events/delete_bookmark', locals: { study_event: @study_event } %>
      <% else %>
        <%= render partial: 'study_events/bookmark', locals: { study_event: @study_event } %>
      <% end %>
    </li>
  </ul>
  <div class="event-show-title">
    <%= @study_event.name %>
  </div>
  <div class="event-show-owner">
    <%= link_to profile_path(@study_event.user.profile) do %>
      <ul>
        <li><%= image_tag @study_event.user.profile.avatar.url, class: 'circle-small-img' %></li>
        <li class="event-owner-name"><%= @study_event.user.profile.username %></li>
      </ul>
    <% end %>
  </div>
  <div>
    <%= image_tag @study_event.image.url, class: 'event-show-img' %>
  </div>
  <ul class="event-show-attend-button">
    <li class="event-date-label">開催日時</li>
    <li>
      <%= form_with model: @notification, local: true, data: { confirm: '勉強会の主催者に参加希望の申し込みをします。よろしいですか？'} do |f| %>
        <%= f.hidden_field :study_event_id, value: @study_event.id %>
        <%= f.hidden_field :visited_id, value: @study_event.user.id %>
        <%= f.hidden_field :action, value: 'attend_request' %>
        <%= f.submit '参加を希望する', class: 'waves-effect waves-light btn-small' %>
      <% end %>
    </li>
  </ul>
  <div class="event-show-day">
    <ul>
      <li><i class="far fa-clock fa-fw"></i></li>
      <li class="event-date"><%= @study_event.date %></li>
      <li>
        <%= @study_event.begin_time.strftime("%H:%M") %> ~ <%= @study_event.finish_time.strftime("%H:%M") %>
      </li>
    </ul>
  </div>
  <div class="event-show-label">現在の参加メンバー</div>
  <div class="event-show-members">
    <% @study_event.users.each do |user| %>
      <%= link_to profile_path(user.profile) do %>
        <ul>
          <li><%= image_tag user.profile.avatar.url, class: 'circle-small-img' %></li>
          <li><%= user.profile.username %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  <div class="event-show-label">勉強会の詳細</div>
  <div class="event-show-description">
    <%= safe_join(@study_event.description.split("\n"), tag(:br)) %>
  </div>
  <div class="event-show-label">開催場所</div>
  <div class="event-show-location">
    <div class="event-show-location-name"><%= @study_event.location.name %></div>
    <div><i class="fas fa-map-marker-alt fa-fw"></i><%= @study_event.location.address %></div>
  </div>
  <div id="map"></div>
</div>