<%= render 'shared/title', title: 'ユーザーを探す' %>

<%= render 'shared/search', something_url: users_url %>

<%= render partial: 'tag', collection: @tags %> 

<div class="range-wrapper">
  <input type="range" min="5" max="100" value="5" id="range"/>
</div>
        
<div class="near-user-search-btn-wrapper">
  <button class="btn waves-effect waves-light tooltipped" id="getLocation" data-position="bottom" data-tooltip="あなたも近くのユーザーに見つけてもらえるようになります">
    現在地から<output id="output">5</output>km以内のユーザーを検索
    <i class="material-icons left" style="margin-right: 3px;">place</i>
  </button>
</div>

<div class="row" id="search-users">
  <%= render @users %>
  <%= paginate @users %>
</div>

<div id="profile-modal">
</div>
        
<%= javascript_pack_tag 'searchUser', 'data-turbolinks-track': 'reload' %>