<nav class="brown darken-1">
  <div class="nav-wrapper">
    <%= link_to 'Connect', root_path, class: 'brand-logo' %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'ホーム', root_path %><li>
      <li><%= link_to '編集', edit_user_registration_path %><li>
      <li><%= link_to 'プロフィール', edit_user_path(current_user) %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><%= link_to 'ホーム', root_path %><li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
</ul>