<input id="menu" type="checkbox" />
<label for="menu" class="open"><i class="small material-icons">menu</i></label>
<label for="menu" class="back"></label>

<aside class="z-depth-2">

  <div>
    <ul>
      <li class="logo"><%= link_to 'Connect', root_path, class: 'link-color' %></li>    
      <% if !current_user.profile.id.nil? %>
        <div class="top-user-purpose">
          <%= simple_format(h(current_user.profile.purpose), {}, sanitize: false) %>
        </div>
        <li class="nav-link">
          <%= link_to root_path, class: 'link-color' do %>
            <i class="fas fa-home fa-fw"></i>
            <span>ホーム</span>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to study_events_path , class: 'link-color' do %>
            <i class="fas fa-pencil-alt fa-fw"></i>
            <span>勉強会</span>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to users_path, class: 'link-color' do %>
            <i class="fas fa-users fa-fw"></i>
            <span>勉強仲間</span>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to notifications_path, class: 'link-color' do %>
            <% if unchecked_notifications.any? %>
              <i class="fas fa-bell fa-fw" style="color: #ffc400;"></i>
              <span>通知</span>
            <% else %>
              <i class="far fa-bell fa-fw"></i>
              <span>通知</span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to rooms_path, class: 'link-color' do %>
            <i class="far fa-comments fa-fw"></i>
            <span>メッセージ</span>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to bookmarks_path, class: 'link-color' do %>
            <i class="far fa-bookmark fa-fw"></i>
            <span>ブックマーク</span>
          <% end %>
        </li>
        <li class="nav-link">
          <%= link_to profile_path(current_user.profile), class: 'link-color' do %>
            <i class="fas fa-user fa-fw"></i>
            <span>マイページ</span>
          <% end %>
        </li>
      <% end %>
      <li class="nav-link">
        <%= link_to  destroy_user_session_path, class: 'link-color', method: :delete, data: { confirm: "ログアウトします。よろしいですか？" } do %>
          <i class="fas fa-sign-out-alt fa-fw"></i>
          <span>ログアウト</span>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="side-footer">

    <%
=begin%>
 <div class="center-align" style="margin-bottom: 20px;">
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">検索</a>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>ユーザー検索</h4>
        <p>こちらで検索</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <div class="tag-wrapper">
      <% tags.each do |tag| %>
        <div class="chip">
          <%= tag %>
        </div>
      <% end %>
    </div>
  </div> 
<%
=end%>
</aside> 