<% if user_signed_in? %>
  <%= render 'shared/title', title: 'ホーム' %>

  <%= month_calendar(events: @study_events) do |date, study_events| %>
    <%= date.day %>

    <% study_events.each do |study_event| %>
      <div class="event-calendar-name">
        <%= link_to study_event.name, study_event_path(study_event), "data-turbolinks": false %>
      </div>
      <div class="event-calendar-img">
        <%= image_tag study_event.image.url, class: 'calendar-img' %>
      </div>
      <div class="event-calendar-time">
        <%= study_event.correct_begin_time %> ~ <%= study_event.correct_finish_time %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <h1 class="brand-name center-align">コネクト</h1>
  <div class="row top-button-wrapper">
    <div class="right-align col m6 s6">
      <%= link_to '新規登録', new_user_registration_path, class: 'btn brown darken-1' %>
    </div>
    <div class="left-align col m6 s6">
      <%= link_to 'ログイン', new_user_session_path, class: 'btn brown darken-1' %>
    </div>
    <div class="center-align col m12 s12 easy-login-btn-wrapper">
      <%= link_to 'かんたんログイン', '#', class: 'btn orange lighten-1' %>
    </div>
  </div>
<% end %>