<% if user_signed_in? %>
  <%= form_with url: root_url, method: :get, local: true do |f| %>
    <div class="input-field">
      <%= f.text_field :search %>
      <%= f.label :search, '勉強ジャンルで検索' %>
      <%= f.submit '検索', class: "btn waves-effect waves-light submit-btn" %>
    </div>
  <% end %>
  <div class="profile-title-wrapper top">
    <h1 class="profile-title">勉強仲間</h1>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <% unless current_user?(user) %>
        <div class="col s12 m6 l4">
          <%= link_to profile_path(user.profile) do %>
            <div class="card card-pointer">
              <div class="card-image">
                <% if user.profile.avatar? %>
                  <%= image_tag user.profile.avatar.url, class: 'circle-img' %>
                <% else %>
                  <%= image_tag 'icon_default.png', class: 'circle-img' %>
                <% end %>
                <span class="card-title" style="padding: 10px; font-size: 12px; background: #090909; "><%= user.profile.username %></span>
              </div>
              <div class="card-content">
                <p class="top-other-user-purpose"><%= user.profile.purpose %></p>
              </div>
              <div class="card-action center-align">
                <% user.profile.tags.pluck(:name).each do |tag_name| %>
                  <div class="chip">
                    <%= tag_name %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>  
  </div>
  <%= paginate @users %>
  
<% else %>
  <h1 class="brand-name center-align">コネクト</h1>
  <div class="row top-button-wrapper">
    <div class="right-align col m6 s6">
      <%= link_to '新規登録', new_user_registration_path, class: 'btn brown darken-1' %>
    </div>
    <div class="left-align col m6 s6">
      <%= link_to 'ログイン', new_user_session_path, class: 'btn brown darken-1' %>
    </div>
    <div class="center-align col m12 s12 easy-login-btn-wrapper">
      <%= link_to 'かんたんログイン', '#', class: 'btn orange lighten-1' %>
    </div>
  </div>
<% end %>