<% if user_signed_in? %>
  <div class="profile-title-wrapper top">
    <h1 class="profile-title">勉強仲間</h1>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <% if user.avatar? %>
              <%= image_tag user.avatar.url, class: 'circle-img' %>
            <% else %>
              <%= image_tag 'icon_default.png', class: 'circle-img' %>
            <% end %>
            <span class="card-title"><%= user.username %></span>
          </div>
          <div class="card-content">
            <p><%= user.aim %></p>
          </div>
          <div class="card-action">
            <a href="#">フォローする</a>
          </div>
        </div>
      </div>
    <% end %>  
  </div>
<% else %>
  <h1 class="brand-name center-align">コネクト</h1>
  <div class="row top-button-wrapper">
    <div class="right-align col m6 s6">
      <%= link_to '新規登録', new_user_registration_path, class: 'btn brown darken-1' %>
    </div>
    <div class="left-align col m6 s6">
      <%= link_to 'ログイン', new_user_session_path, class: 'btn brown darken-1' %>
    </div>
    <div class="center-align col m12 s12 easy-login-btn-wrapper">
      <%= link_to 'かんたんログイン', '#', class: 'btn orange lighten-1' %>
    </div>
  </div>
<% end %>