<% if room.study_event %>
  <%= link_to room_path(room), class: 'collection-item', "data-turbolinks": false do %>
    <div class="group-chat">
      <strong><%= room.study_event.name %></strong>
    </div>
    <div class="center-align">
      <% room.users.each do |user| %>
        <%= image_tag user.profile.avatar.url, class: 'circle-small-img' %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% room.users.each do |user| %>
    <% unless user.id == current_user.id %>
      <%= link_to room_path(room), class: 'collection-item', "data-turbolinks": false do %>
        <div class="room-matcher-wrapper">
          <div>
            <%= image_tag user.profile.avatar.url, class: 'circle-small-img' %>
          </div>
          <div class="room-matcher-text">
            <strong class="room-matcher-username"><%= user.profile.username %></strong>
            <% if room.messages.last %>
              <div class="room-matcher-message"><%= truncate(room.messages.last.message, length: 15) %></div>
            <% end %>
          </div>
        </div>
        <% if room.messages.last %>
          <div class="room-messages-created-at"><%= l(room.messages.last.created_at, format: :long) %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
