<div class="message-top-wrapper">
  <div class="section room-head">
    <% if @room.study_event %>
      <strong><%= link_to @room.study_event.name, study_event_path(@room.study_event) %></strong>
      <a class='dropdown-button btn btn-floating btn-small room-dropdown' data-beloworigin="true" href='#' data-activates='exit-the-event'>
        <i class="material-icons">menu</i>
      </a>

      <ul id='exit-the-event' class='dropdown-content'>
        <li>
          <%= form_with scope: :exit_the_event, url: exit_the_event_study_event_url, local: true, data: { confirm: "勉強会「#{@room.study_event.name}」を退会します。よろしいですか？"} do |f| %>
            <%= f.hidden_field :study_event_owner_id, value: @room.study_event.user.id %>
            <%= f.hidden_field :study_event_id, value: @room.study_event.id %>
            <%= f.submit '退会する', class: 'exit-btn', style: 'color: #26a69a;' %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'メンバー', event_users_room_path %>
        </li>
      </ul>
    <% else %>
      <% @entries.each do |e| %>
        <% unless e.user == current_user %>
          <ul class="message-top">
            <li>
              <%= link_to(profile_path(e.user.profile)) do %>
                <%= image_tag e.user.profile.avatar.url, class: 'circle-small-img' %>
                <strong><%= e.user.profile.username %></strong>
              <% end %>
            </li>
          </ul>
        <% end %>
      <% end %> 
    <% end %>
  </div>
  <div class="divider"></div>
</div>

<div id="messages-wrapper" data-room_id="<%= @room.id %>" data-user_id="<%= current_user.id %>">
  <%= render @messages %>
</div>

<%= form_with model: @message, id: 'message-form' do |f| %>
  <div class="message-form-wrapper">
    <div class="input-field message-form-left">
      <i class="material-icons prefix">mode_edit</i>
      <%= f.text_area :message, class: 'materialize-textarea', id: 'message-textarea' %>
      <%= f.label :message, 'メッセージ内容を入力' %>
      <%= f.hidden_field :room_id, value: @room.id %>  
    </div>
    <div class="message-form-right">
      <%= button_tag type: 'submit', class: 'btn-floating btn-small teal profile-dm', id: 'message-btn' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
  </div>
<% end %>


