<div class="message-top-wrapper">
  <div class="section center-align">
    <% @entries.each do |e| %>
      <% unless e.user == current_user %>
        <%= link_to(profile_path(e.user.profile)) do %>
          <% if e.user.profile.avatar? %>
            <%= image_tag e.user.profile.avatar.url, class: 'circle-small-img' %>
          <% else %>
            <%= image_tag 'icon_default.png', class: 'circle-small-img' %>
          <% end %>
          <strong><%= e.user.profile.username %></strong>
        <% end %>
      <% end %>
    <% end %> 
  </div>
  <div class="divider"></div>
</div>

<div id="messages-wrapper">
  <%= render partial: 'messages/message', locals: { messages: @messages } %>
</div>

<%= form_with model: @message, remote: true do |f| %>
  <div class="message-form-wrapper">
    <div class="input-field message-form-left">
      <i class="material-icons prefix">mode_edit</i>
      <%= f.text_area :message, class: 'materialize-textarea', id: 'message-textarea' %>
      <%= f.label :message, 'メッセージ内容を入力' %>
      <%= f.hidden_field :room_id, value: @room.id %>  
    </div>
    <div class="message-form-right">
      <%= button_tag type: 'submit', class: 'btn-floating btn-small teal profile-dm' do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>
  </div>
<% end %>


