<div class="card-panel profile-card">
  <div class="account-title-wrapper">
    <h1 class="account-title">パスワード再設定</h1>
  </div>

  <div class="row">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <%= f.password_field :password %>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(英数字 <%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation %>    
      </div>

      <div class="center-align account-btn">
        <button class="btn waves-effect waves-light">
          <%= f.submit 'パスワードを変更', class: 'submit-btn' %>
          <i class="material-icons right">send</i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="right-align">
    <%= render "users/shared/links" %>
  </div>
</div>


