<!DOCTYPE html>
<html>
  <head>
    <title>ConnectStudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mkmk0mmk0" />
    <meta property="og:url" content="https://connect-study.xyz" />
    <meta property="og:title" content="CoonectStudy" />
    <meta property="og:description" content="オフラインで勉強仲間と繋がることができるサービスです。" />
    <meta property="og:image" content="<%= asset_url('connect-study.png') %>" />

    <%= include_gon %> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.api[:google_map_api_key] %>&callback=initMap" defer async></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/sidenav' %>  
    <% end %>
    <main class="<%= 'main-padding' if current_user %>">
      <% unless controller.controller_name == 'locations' && controller.action_name == 'new' %>
        <%= render 'shared/flash' %>
      <% end %>
      <%= render 'shared/main_header' %>
      <div class="container">
        <%= yield %>
      </div>
      <%= render 'shared/main_footer' %>
    </main>
  </body>
</html>
